/*
Theme Name: Vantage
Author: SiteOrigin
Author URI: http://siteorigin.com/
Theme URI: http://siteorigin.com/theme/vantage/
Description: Vantage is a flexible multipurpose theme. It's strength lies in its tight integration with some powerful plugins like Page Builder for responsive page layouts, MetaSlider for big beautiful sliders and WooCommerce to help you sell online. Vantage is fully responsive and retina ready. Use it to start a business site, portfolio or online store. We offer free and premium support on our support <a href="http://siteorigin.com/thread/">forums</a> (http://siteorigin.com/thread/).
Version: dev
License: GNU General Public License 2.0
License URI: license.txt
Tags: responsive-layout, fluid-layout, custom-background, custom-menu, featured-images, theme-options, threaded-comments, translation-ready, black, white, light, one-column, two-columns, full-width-template
*/

@import "less/mixins";
@import "less/reset";

/* =Global
----------------------------------------------- */

/* Consistent fonts across all elements */

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: Arial;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5em;
	font-size: 13px;
	word-wrap: break-word;
}

/* Links */

a {
	color: #248cc8;

	&:hover,
	&:focus,
	&:active {
		color: #f47e3c;
	}
}

/* Headings and Rulers */

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */

p {
	margin-bottom: 1.5em;
}
ul,
ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b,
strong {
	font-weight: bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code,
kbd,
tt,
var {
	font-family: "Courier New", Courier, mono;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em 0;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	/* Corrects font size not being inherited in all browsers */
	font-size: 100%;

	/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	margin: 0;

	/* Improves appearance and consistency in all browsers */
	vertical-align: baseline;
	*vertical-align: middle;
	.box-sizing(border-box);

}
button,
input {
	/* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	line-height: normal;
	/* Corrects inner spacing displayed oddly in IE6/7 */
	*overflow: visible;

}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
	padding: 12px 20px;
	.bordered(#d2d2d2, #c3c3c3, #9f9f9f, #c3c3c3);
	.gradient(#ffffff, #dfdfdf, #ffffff);
	.rounded(3px);
	font-size: 12px;
	font-weight: bold;
	color: #646464;

	.box-shadow(~"0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5)");
	width: auto;
	text-decoration: none;

	/* Improves usability and consistency of cursor style between image-type 'input' and others */
	cursor: pointer;

	/* Corrects inability to style clickable 'input' types in iOS */
	-webkit-appearance: button;
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{
	/* Button hover style */
	.bordered(#dadada, #cfcfcf, #a8a8a8, #cfcfcf);
	.gradient(#ffffff, #ebebeb, #ffffff);
}

button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	/* Button click style */
	.bordered(#aaa, #bbb, #bbb, #bbb);
	.box-shadow(~'inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)');
}

input[type="checkbox"],
input[type="radio"] {
	.box-sizing(border-box);
	padding: 0;
	/* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	/* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-appearance: textfield;

	/* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	.box-sizing(border-box);
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	.box-sizing(border-box);
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	color: #111;
}

input[type=text],
input[type=email],
input[type=password] {
	padding: 3px;
}

textarea {
	/* Removes default vertical scrollbar in IE6/7/8/9 */
	overflow: auto;
	/* Improves readability and alignment in all browsers */
	vertical-align: top;
}

/* Alignment */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */

.assistive-text {
	clip: rect(1px 1px 1px 1px);
/* IE6, IE7 */

	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.page-links{
	clear:both;
}

#site-title a{
	color: inherit;
}


body {
	background: #dadada;
}

/* =General Layout
----------------------------------------------- */

#page-wrapper {
	padding-top: 20px;
	.box-sizing(border-box);
	width: 1080px;
	margin: 0 auto;
}

.layout-full #page-wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	.full-container {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}

@media  (max-width:1080px){
	.responsive.layout-boxed #page-wrapper{
		margin: 0;
		padding: 0;
	}

	.responsive.layout-boxed #colophon {
		margin-bottom: 0;
	}
}

header#masthead {
	background: #fcfcfc;
	padding: 0 35px 0 35px;
	.box-sizing(border-box);

	.hgroup {
		.clearfix();

		position: relative;
		padding-top: 45px;
		padding-bottom: 45px;

		a {
			text-decoration: none;
		}

		h1 {
			color: #666666;
			font-weight: 100;
			font-size: 36px;
			line-height: 1em;
		}

		.logo {
			display: block;
			float: left;
			max-width: 100%;

			img {
				vertical-align:bottom;
			}
		}

		.support-text {
			line-height: 1.2em;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -0.6em;
			color: #4b4b4b;
			font-style: italic;
			max-width: 50%;
		}

		#header-sidebar {
			padding-top: 15px;
			padding-bottom: 15px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;

			.box-sizing(border-box);

			/* Center align layout. Based on old CSS3 spec, so update when new spec is available and supported */

			-ms-flex-pack:center;
			-ms-flex-align:center;
			display:-ms-flexbox;

			-moz-box-pack:center;
			-moz-box-align:center;
			display:-moz-box;

			-webkit-box-pack:center;
			-webkit-box-align:center;
			display:-webkit-box;

			display:box;
			box-pack:center;
			box-align:center;

			aside.widget {
				margin-bottom: 0;
				float: left;
				position: relative;
				margin-right: 25px;

				&:last-child {
					margin-right: 0;
				}
			}

			.widget-title {
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
	}

	&.masthead-logo-in-menu {
		.logo {
			float: left;
			padding: 12px 0;
			margin-right: 15px;

			> * {
				display: block;
			}

			> img {
				max-height: 35px;
				width: auto;

				height: auto;
				max-width: 100%;
			}

		}
	}
}

.layout-boxed header#masthead.masthead-logo-in-menu {
	img.logo {
		margin-left: 25px;
	}
}

body.ie-8,body.ie-9 {
	header#masthead .hgroup {
		#header-sidebar {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}

#main {
	.clearfix();
}

#primary {
	float: left;
	width: 71.287%;
}

body.no-sidebar #primary {
	float: none;
	width: auto;
}

/* Full Width Primary blocks */
.siteorigin-panels-home #primary,
.page-template-templatestemplate-full-php #primary,
.page-template-home-panels-php #primary,
.page-template-templatestemplate-full-notitle-php #primary{
	width: auto;
	float: none;
}

.page-template-default #primary {
	float: left;
	width: 71.287%;
}

#secondary {
	float: right;
	width: 23.762%;
}

#main {
	background: #fcfcfc;
	padding: 35px;
}

#main-slider {
	line-height: 0;
	background: #eeeeee;

	.flexslider {
		margin-bottom: 0;
	}

	h1 {
		font-weight: 100;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	}

	.text-em-wrapper {
		padding: 10px 50px;
		background: rgba(0,0,0,0.25);
		border: 3px solid white;
		font-weight: bold;
	}

	.metaslider, #metaslider-demo {
		margin:  0 auto;
	}
}


/* =Responsive Layout
----------------------------------------------- */

@media (max-width:1080px) {
	body.responsive {
		header#masthead {
			.hgroup {
				.logo img {
					/* Scale down the logo if necessary */
					max-width: 100%;
					height: auto;
				}
			}

			&.masthead-logo-in-menu {
				.logo {
					margin-left: 20px;
				}

				.main-navigation .menu-mobilenav-container ul {
					margin-right: 0;
					li {
						float: right;

						a {
							padding-left: 20px;
							padding-right: 20px;
						}

					}
				}

				#search-icon-icon {
					display: none;
				}
			}
		}
	}
}

/* We consider 680px to be mobile resolution */
@media (max-width:680px) {
	body.responsive {

		header#masthead {
			.hgroup {
				text-align: center;

				.logo {
					float:none;

					img {
						margin: 0 auto;
						padding-top: 0px !important;
						padding-bottom: 0px !important;
					}
				}

				.support-text, #header-sidebar {
					position: static;
					display: block;
					margin-top: 30px;
					max-width: 100%;

					img {
						max-width: 100%;
						height: auto;
					}
				}

				#header-sidebar {
					padding-top: 0 !important;
					padding-bottom: 0 !important;
					height: auto;

					.widget{
						display: block;
						margin: 0 auto;
						float: none;
					}
				}

			}
		}

		#primary, #secondary {
			width: auto;
			float: none;
		}

		#secondary {
			margin-top: 35px;
		}

		#footer-widgets .widget {
			display: block;
			margin-bottom: 25px;
			float:none;
		}

		#footer-widgets .widget:last-child{
			margin-bottom:0;
		}
	}
}

body.responsive {
	#page-wrapper {
		max-width: 1080px;
		width: auto;
		overflow-x: hidden;
	}

	&.layout-full {
		#page-wrapper {
			max-width: 100%;
		}
	}

	&.layout-boxed {
		#page-wrapper {
			overflow-x: visible;
		}
	}

	&.layout-full #page-wrapper{
		.full-container {
			max-width: 1080px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	margin: 0 -35px;
	background: #343538;
	font-size: 13px;
	position: relative;

	/* Font awesome icons */
	[class^="fa fa-"] {
		display: inline-block;
		margin-right: 15px;
		font-size: 16px;
		line-height: 0.5em;
		color: #cccccc;
	}

	a:hover [class^="fa fa-"] {
		color: #ffffff;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		.clearfix();

		li {
			display:block;
			position: relative;
			float: left;

			&:hover > a {
				background: #00bcff;
				color: #ffffff;
			}

			a {
				padding: 20px 35px;
				.box-sizing(border-box);

				&, & > * {
					.transition(0.4s);
				}
			}
		}

		/* Second level menu items */
		ul {
			.box-shadow(~"0 1px 2px rgba(0,0,0,0.15)");

			background: #464646;
			display: none;

			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99999;

			a {
				width: 200px;
				padding: 15px 20px;
			}

			li {
				position: relative;

				/* Hovering over 2nd level items */
				&:hover > a {
					background: #00bcff;
					color: #ffffff;
				}
			}

			/* Third Level Items */

			ul {
				left: 100%;
				top: 0;
				margin-left: 0;
			}
		}

		li:hover {
			> ul {
				display: block;
			}
		}
	}

	/* General menu link styling */
	a {
		display: block;
		text-decoration: none;
		color: #e2e2e2;
		font-weight: bold;
	}

	/* For when the menu becomes a sticky menu */
	&.sticky {
		.box-shadow(~"0 2px 1px rgba(0,0,0,0.15)");
	}
}

body.has-menu-search .main-navigation ul {
	margin-right: 59px;
}

/* Handle the navigation slightly differently on mobile devices */

body.mobile-device {

	.main-navigation {
		ul {
			ul {
				display: none;
			}
		}

		li:hover > ul {
			display: block;
		}
	}
}

.mobile-nav-frame {
	[class^="fa fa-"] {
		display: inline-block;
		margin-right: 10px;
		min-width: 1em;
	}
}

.mobile-nav-icon {
	font-family: 'FontAwesome';
	display: inline-block;
	margin-right: 10px;
}

.mobile-nav-icon:before {
	font-size: 14px;
	content: "\f00b";
}

#search-icon {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
  	z-index: 110;

	#search-icon-icon {
		.box-sizing(border-box);
		position: relative;
		display: block;
		cursor: pointer;
		background-color: #303134;
		width: 59px;
		height: 100%;

		&, .icon-search {
			.transition(0.4s);
		}

		.vantage-icon-search {
			position: absolute;
			display: block;
			width: 17px;
			height: 17px;
			font-size: 17px;
			top: 50%;
			left: 50%;
			margin-top: -8px;
			margin-left: -8.5px;
			color: #d1d1d1;
		}

		&:hover {
			.vantage-icon-search {
				color: #ffffff;
			}
			background-color: #00bcff;
		}

	}

	.searchform {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 1080px;
		background: #2d2e31;
		z-index: 10;
		overflow-x: hidden;

		input[name=s]{
			color: #d1d1d1;
			font-size: 17px;
			font-weight: 200;
			.box-sizing(border-box);
			display: block;
			width: 100%;
			height: 42px;
			border: none;
			.rounded(0px);
			background: transparent;
			outline: none;
			padding: 0 15px;
		}
	}
}

/* =Archives
----------------------------------------------- */

article.sticky{
	/* Style a sticky post */
}

#page-title {
	color: #3b3b3b;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;

	a {
		color: inherit;
		text-decoration: none;
		font-weight: bold;
	}
}

article.post ,
article.page{
	.clearfix();

	footer {
		float: left;
		width: 17.5%;

		.post-type-icon {
			width: 50px;
			height: 50px;
			background: #4f5355;
			.rounded(3px);
		}

		.tags {
			margin-top: 15px;
			line-height: 1em;
			a {
				display: inline-block;
				margin-right: 4px;
				background: #74787a;
				.rounded(2px);
				line-height: 1em;
				padding: 4px 5px;
				color: white;
				text-decoration: none;
				font-size: 10px;
				text-transform: uppercase;
				margin-bottom: 4px;
				.box-shadow(~"0 1px 1px rgba(0,0,0,0.2)");
				text-shadow: 0 1px 1px rgba(0,0,0,0.75);
			}
		}
	}

	.entry-header {

		.entry-thumbnail {

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			a {
				display: block;
			}

			margin-bottom: 20px;
		}

		h1.entry-title {
			color: #3b3b3b;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.35em;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		.entry-meta {
			color: #8f8f8f;
			font-size: 12px;

			a {
				font-weight: 500;
				color: #5e5e5e;
				text-decoration: none;
			}
		}

		margin-bottom: 20px;
	}

	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eeeeee;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.more-link {
		float: right;
		text-decoration: none;
		padding: 4px 10px;
		.bordered(#d2d2d2, #c3c3c3, #9f9f9f, #c3c3c3);
		.gradient(#ffffff, #dfdfdf, #ffffff);
		.rounded(3px);
		font-size: 11px;
		font-weight: bold;
		color: #646464;

		.meta-nav {
			display: none;
		}

		.box-shadow(~"0 1px 1px rgba(0,0,0,0.125)");
	}

	.share-buttons {
		margin: 20px 0 0 0;
		padding: 15px 25px;
		background: #f5f5f5;
		border: 1px solid #e0e0e0;
		list-style: none;
		.clearfix();

		li {
			height: 20px;
			display: block;
			float: left;
		}

		@media (max-width:480px) {
			li {
				float: none;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.entry-summary {
		p:last-child{
			margin-bottom: 0;
		}
	}

	.entry-categories {
		margin-top: 1.5em;
		color: #999999;
		font-size: 0.85em;

		a {
			color: #777777;
		}
	}

	&.post-with-thumbnail-icon {

		.entry-thumbnail {
			margin-top: 0.2em;
			float: left;
			clear:none;
			width: 11.68%; /* 90px in standard width */

			img {
				width: 100%;
				height: auto;
				.rounded(3px);
			}
		}

		.entry-main {
			width: 650px;
			width: 84.41%; /* 650px in standard width */
			float: right;
		}
	}
}

.post-navigation,
#image-navigation{
	margin-top: -20px;
	margin-bottom: 40px;
	.clearfix();

	a {
		text-decoration: none;
		padding: 6px 10px;
		.bordered(#d2d2d2, #c3c3c3, #9f9f9f, #c3c3c3);
		.gradient(#ffffff, #dfdfdf, #ffffff);
		.rounded(3px);
		font-size: 11px;
		font-weight: bold;
		color: #646464;
		display: inline-block;

		.meta-nav {
			display: inline-block;
		}

		.box-shadow(~"0 1px 1px rgba(0,0,0,0.125)");

		&:hover {
			.bordered(#dadada, #cfcfcf, #a8a8a8, #cfcfcf);
			.gradient(#ffffff, #ebebeb, #ffffff);
		}
	}

	.nav-previous {
		.meta-nav {
			margin-right: 7px;
		}
	}

	.nav-next {
		.meta-nav {
			margin-left: 7px;
		}
	}
}

.single-nav-wrapper {
	overflow: hidden;
}

/* Reset the navigation */
#image-navigation {
	margin-top: 0px;
	margin-bottom: 20px;
}

/* =Entry Content
----------------------------------------------- */

/* Styles for actual content */

.entry-header {
	.clearfix();
}

.entry-content{
	.clearfix();

	line-height: 1.6em;
	color: #666666;

	a{
		color: #248cc8;

		.transition(0.2s);

		&:hover {
			color: #f47e3c;
		}
	}

	p,
	& > ul,
	& > li,
	& > dl,
	pre, code, blockquote{
		margin: 1em 0;
	}

	& > *:last-child{
		margin-bottom: 0;
	}

	& > *:first-child{
		margin-top: 0;
	}

	blockquote{
		font-style: italic;
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid #aaaaaa;

		cite{
			font-weight: bold;
		}

		cite a{

		}
	}

	pre, code{
		display: block;
		background: white;
		font-family: "Courier New", Courier, mono;
		border: 1px solid #d9d9d9;
		padding: 10px;

		box-shadow: 0 1px 2px rgba(0,0,0,0.09);

		overflow-x: auto;

		p:first-child {
			margin-top: 0;
		}
	}

	code{
		font-family: "Courier New", Courier, mono;
	}

	sup,
	sub{
		height: 0;
		line-height: 1;
		vertical-align: baseline;
		position: relative;
	}

	sup {
		bottom: 1ex;
	}

	sub {
		top: .5ex;
	}

	.gallery-caption{

	}

	.gallery{
		margin: 15px 0 25px 0;

		.gallery-item{
			margin-bottom: 0;
		}

		.gallery-icon{
			line-height: 0;
			margin-bottom: 0;
		}

		img{
			border: none !important;
		}

		.gallery-caption{
			margin: 10px;
			padding-left: 0;
		}
	}

	table {
		border-bottom: 1px solid #ededed;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 14px;
		line-height: 2;
		margin: 0 0 20px;
		width: 100%;
	}

	img{
		max-width: 100%;
		height: auto;
		.rounded(3px);
		.box-shadow(~"0 1px 2px rgba(0,0,0,0.175)");
	}

	/* WordPress Images */

	.wp-caption{
		max-width: 100%;
		margin: 5px 0 30px 0;
		border: 1px solid #e0e0e0;
		padding: 8px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.09);

		.box-sizing(border-box);

		text-align: center;

		&.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.wp-caption:first-child{
		margin-top: 25px;
	}

	.wp-caption p.wp-caption-text{
		margin: 0;
	}

	.alignleft {
		/* This is also styled on a global level */
		margin: 0 1.5em 1.5em 0;
	}

	.alignright {
		/* This is also styled on a global level */
		margin: 0 0 1.5em 1.5em;
	}

	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}

	ul{
		list-style-type: square;
	}

	ol{
		list-style-type: decimal;
	}

	ol ol{
		list-style-type: upper-alpha;
	}

	ol ol ol{
		list-style-type: lower-roman;
	}

	ul li,
	ol li{
		margin-left: 1.5em;
	}

	dl dt{
		margin-bottom: 5px;
		font-weight: bold;
	}

	dl dd{
		margin-bottom: 10px;
		padding-left: 20px;
	}

	h1,h2,h3,h4,h5,h6{
		color: #444444;
		margin: 1em 0;
		font-weight: 500;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1.1em;
	}

	embed,
	iframe,
	object {
		max-width: 100%;
	}

	.tags {
		color: #999999;

		strong {
			color: #666666;
		}

		a {
			color: #999999;
			text-decoration: none;
		}
	}

}

/* =Navigation
----------------------------------------------- */

.pagination, .entry-content .pagination {
	position:relative;
	font-size:11px;
	line-height:13px;
	text-align: right;

	span, a {
		.rounded(2px);
		display:inline-block;
		margin: 2px 2px 2px 0;
		padding:6px 9px 5px 9px;
		text-decoration:none;
		width:auto;
		background: #4f5355;

		.bordered(#d2d2d2, #c3c3c3, #9f9f9f, #c3c3c3);
		.gradient(#ffffff, #dfdfdf, #ffffff);
		.rounded(3px);
		font-weight: bold;
		color: #646464;

		.box-shadow(~"0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5)");
		width: auto;
		text-decoration: none;

		&:last-child {
			margin-right: 0;
		}


	}

	a:hover {
		.gradient(#f0f0f0, #d0d0d0, #f0f0f0);
		color: #606060;
	}

	.current {
		.bordered(#222222, #222222, #222222, #222222);
		.gradient(#333333, #505050, #333333);
		.box-shadow(~"0 1px 1px rgba(0,0,0,0.125), inset 0 0 5px rgba(0,0,0, 0.5)");
		color: #efefef;
	}
}

.site-content {

	.nav-previous, .nav-next {
		white-space: nowrap;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

@media (max-width:480px) {
	body.responsive {
		.site-content{
			.nav-previous, .nav-next {
				float: none;
				width: 100%;
				margin-bottom: 20px;
				text-align: center;
			}
		}
	}
}

/* =Comments
----------------------------------------------- */

#comments-title, #reply-title {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 500;
	line-height: 1em;
	color: #444444;
	padding-bottom: 5px;
	border-bottom: 2px solid #555555;

	[class^="fa fa-"] {
		font-size: 16px;
		display: inline-block;
		margin-right: 4px;
		line-height: 0.75em;
	}
}

#comments {

	.commentlist {
		margin: 0 0 40px 0;
		list-style: none;

		.children {
			list-style: none;
			margin-left: 75px;
		}

		article {
			margin-bottom: 35px;

			.avatar {
				float: left;
				.rounded(3px);
				.box-shadow(~"0 1px 2px rgba(0,0,0,0.1)");
			}

			.comment-author, .awaiting-moderation, .comment-meta, .comment-content {
				margin-left: 75px;
			}

			.comment-author{
				color: #474747;
				font-size: 13px;
				font-weight: 500;
				line-height: 1em;
				margin-bottom: 0.35em;

				a{
					color: inherit;
					text-decoration: none;
				}

				cite {
					font-style: normal;
				}
			}

			.comment-meta {
				font-size: 11.5px;
				color: #747474;
				line-height: 1em;
				margin-bottom: 15px;

				a{
					color: inherit;
					text-decoration: none;
				}

				.support {
					display: inline-block;
					margin-left: 15px;
				}
			}

			.awaiting-moderation {
				display: block;
				margin-bottom: 10px;
			}

			.entry-content {
				font-size: 12px;
			}
		}

		.bypostauthor{
			/* Change the comment by the post author */
		}
	}
}

#commentform{

	label {
		margin-top: 2px;
		display:block;
		float: left;
		width: 25%;
	}

	input, textarea {
		float: left;
		width: 75%;
		padding: 10px;
		font-size: 13px;
	}

	textarea {
		padding: 10px;
	}

	input {
		padding: 7px 10px;
	}


	p {
		.clearfix();
		margin-bottom: 20px
	}

	p.form-submit {
		margin-bottom: 0;
	}

	#submit {
		width: auto;
		font-size: 12px;
		padding: 10px 20px;
	}

	.form-allowed-tags, .form-allowed-tags code, .comment-notes {
		font-size: 0.8em;
		color: #999;
	}

	.logged-in-as{
		font-size: 0.8em;
		color: #999;
		margin-bottom: 10px;
		text-align: right;
	}

	.required {
		color: #a40802;
	}
}

@media (max-width:480px) {
	body.responsive  #commentform{
		label{
			float: none;
			width: 100%;
			margin-bottom: 3px;
		}

		input, textarea {
			float:none;
			width: 100%;
		}
	}
}



/* =Sidebars and Asides
----------------------------------------------- */

#colophon {
	margin-bottom: 20px;
	background: #2f3033;
	padding: 30px;

	#theme-attribution, #site-info {
		text-align: center;
		margin-top: 25px;
		color: #aaaaaa;
		font-size: 11.5px;

		a {
			color: #dddddd;
			text-decoration: none;
			font-weight: 500;
		}
	}
}

body.layout-full{
	/* Use the same color as the footer */
	background-color: #2f3033;
}

.layout-full {
	#colophon {
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

#scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0,0,0,0.2);
	padding: 20px;

	.rounded(3px);
	text-decoration: none;

	.vantage-icon-arrow-up {
		font-size: 18px;
		display: block;
		width: 18px;
		height: 18px;
		color: rgba(255,255,255,0.2);
	}

	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	opacity: 0;

	.transition(0.2s);

	&.displayed {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1 !important;
	}

}

#map-canvas img, #gmap_canvas img {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  line-height: normal !important;
  max-width: none;
  zoom: normal !important;
}

/* Entry Meta */

.updated { display: none; }

/* Pages - Entry Meta */

.page .entry-meta {
  display: none;
}


@import "less/slider";
@import "less/widgets";
@import "less/loops";
@import "less/woocommerce";
@import "less/icons";